* {
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

body {
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0%;
}

form{
    align-items: center;
    padding-top: 10%;
    font-size: 25px;
   

}
.card{
    border: 1px solid burlywood;
    background: rgba(121,214,150,0.5);
}